<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $('li.answer').filter(':nth-child(n+4)').addClass('hide');
                $('ul').on('click','li.question',function(){
                    $(this)
                        .next()
                            .slideDown(200)
                            .siblings('li.answer')
                                .slideUp(200)
                });
            });
        </script>
    </head>
    <body>
        <div class="container fixed-top" style="width: 768px;">
            {{> header }}
        </div>
        <br><br><br><br><br><br><br><br>
        <div class="layout">
		    <ul>
                <li class="question">Do You Ship Outside of Arizona?</li>
                <li class="answer">We are now offering delivery to all 50 states. The shipping fees will vary, as will the delivery time. You can rest assured that we will get your order to you as quickly as possible.</li>
                <li class="question">Do You Ship to Canada?</li>
                <li class="answer">Our customers ordering from Canada are able to make a purchase and request shipping through our website. The order will be processed in U.S. dollars, so you should be aware of the difference in cost after the exchange rate. Orders to Canada are not eligible for free shipping, due to the additional charges related to international shipments. Additionally, you should expect duty charges from your government.</li>
                <li class="question">What kind of deliveries do you specialize in?</li>
                <li class="answer">We can handle anything from legal documents, to freight and anything in between. You need it delivered, we can make it happen, in an efficient and dependable way all while offering excellent customer service.</li>
                <li class="question">What is the most weight/pallets that you can handle?</li>
                <li class="answer">We have straight trucks with lift gates that regularly handle 6 to 12 pallets with a weight capacity of 3500 up to 8500 lbs. However, please consider that logistically, more weight takes more planning and equipment. Please call as soon as you can for larger loads so we can find the mode of transportation needed for your delivery.</li>
                <li class="question">What type of services do you provide?</li>
                <li class="answer">We can design the coverage, you need. Basic services range from immediate, to a number of hours, all the way to next day service. We also provide sweep or routed coverage, plus large freight loads. The service choices are up to you and your company needs!</li>
                <li class="question">What type vehicles does Logistics Unlimited have?</li>
                <li class="answer">Logistics Unlimited can handle your heavy loads, from Vans to Straight trucks with lift gates. Logistics Unlimited provides the resources for your company’s freight needs of all sizes. Let us help you offer exceptional logistical service to your company and your clients.</li>
                <li class="question">Do you provide insurance on packages /boxes being sent out?</li>
                <li class="answer">Yes, all packages are covered by freight insurance and bonded.</li>
                <li class="question">What type billing frequency do you provide?</li>
                <li class="answer">This is up to you. Credit card or set up an account with us, to be billed according to your company’s needs! We will walk you through the steps. We can help you get started. Call us today!</li>
		    </ul>
	    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>   
</html>
