<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Logistics Unlimited</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="header">	
		<img src="img/log-logo.png" alt="Logo" width="150" height="150">
	</div> 
	<div class="wrapper">
	<div class="topnav">
		<a class="active" href="home.html">Home</a>
		<a href="bio.html">About Us</a>
		<a href="reso.html">Reservations</a>
		<a href="FAQ.html">FAQ</a>		
		<a href="contact.html">Contact Us</a>
	</div>
	<div>
		<img src="img/home01.jpg" class="home-img">
	</div>
	<div class="fadein">
		<img id="f1" src="img/home01.jpg">
		<img id="f2" src="img/home02.jpg">
		<img id="f3" src="img/home07.jpg">
		<img id="f4" src="img/home08.jpg">
		<img id="f5" src="img/home06.jpg">
	</div>
		<div class="footer">Logistics Unlimited Copyright 2017 &copy;
			<a href="home.html">Home</a>	
			<a href="bio.html">About Us</a>
			<a href="reso.html">Reservations</a>
			<a href="FAQ.html">FAQ</a>		
			<a href="contact.html">Contact Us</a>
			<div style="clear: both;">
		</div>
	</div>
</div>
</body>
</html>