<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link href="css/carousel.css" rel="stylesheet">
  </head>
  <body>
    {{>header}}
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="img/home01.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Trucking</h1>
                <p>We track all things trucking and keep you up to date so you can spend more time making money instead of spending it.</p>
                <p><a class="btn btn-lg btn-primary" href="/users" role="button">Sign in today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="img/home02.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Quoting</h1>
                <p>We have a state of the art quoting system that allows you to not only save time but more importantly money! Check out by clicking the learn more.</p>
                <p><a class="btn btn-lg btn-primary" href="/users" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="img/home05.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Technology</h1>
                <p>Here at Logistics Unlimited we strive to bring the most up to date technologies to the meet the ever growing needs of truckers.</p>
                <p><a class="btn btn-lg btn-primary" href="/users" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="img/home01.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Technology</h2>
            <p>Here at Logistics Unlimited we strive to bring the most up to date technologies to the meet the ever growing needs of truckers.</p>
            <p><a class="btn btn-secondary" href="/faq" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="img/home01.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Quoting</h2>
            <p>We have a state of the art quoting system that allows you to not only save time but more importantly money! Check out by clicking the learn more.</p>
            <p><a class="btn btn-secondary" href="/quote" role="button">Learn More &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="img/home01.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Trucking</h2>
            <p>We track all things trucking and keep you up to date so you can spend more time making money instead of spending it.</p>
            <p><a class="btn btn-secondary" href="/users" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">About Us. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Logistics Unlimited is a recongized solutions and logistics leader in the trucking industry.
            Our goal is to provide truckers with a easy to navigate portal and quoting system to help make your needs as a trucker easier then ever.
            If you would like to learn what logistics unlimited could do for you then please click learn more and explore our quotes system.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home05.jpg"> 
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Our Mission <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Our mission at Logistics Unlimited is to provide the highest level of transportation services to better suit our clients needs.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/home01.jpg">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

      {{footer}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script>"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.js"</script>
    
  </body>
</html>
