<!DOCTYPE html>
<html>
    <head>
        <title>Logistics Unlimited</title>
        {{!-- <link rel="icon" href=""> --}}
        <link rel= "stylesheet" href="/public/css/bootstrap.min.css">
    </head>
    <body>
        <div class="">
            {{>header}}
        </div>
        {{>footer}}
        <script src="/src/app.js"></script>
        <script src="/public/js/vendor/bootstrap.min.js"></script>
    </body>
</html>