<!DOCTYPE html>
<html>
    <head>
        <title>Logistics Unlimited</title>
        {{!-- <link rel="icon" href=""> --}}
        <link rel= "stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="">
            {{>header}}
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>