<!DOCTYPE html>
<html>
    <head>
        <title>Logistics Unlimited</title>
        {{!-- <link rel="icon" href=""> --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <script>
        var startCityName = "Flagstaff, AZ"; 
        var endCityName = "Flagstaff, AZ";
        var distance = {20: 145, 30: 488, 40: 677, 50: 1109, 
                        11: 145, 31: 355, 41: 821, 51: 1204, 
                        12: 488, 22: 355, 42: 1078, 52: 1559, 
                        13: 677, 23: 821, 33: 1078, 53: 600, 
                        14: 1109, 24: 1204, 34: 1559, 44: 600};

        function getStartCity(sel) {
            startCityName = sel.options[sel.selectedIndex].text;
        }

        function getEndCity(sel) {
            endCityName = sel.options[sel.selectedIndex].text;
        }

        function getDistance() {
            var startID = document.getElementById("startCity").value;
            var endID = document.getElementById("endCity").value;
            var distanceID = parseInt(startID) + parseInt(endID);
            var miles = distance[distanceID];

            var rate = 6.21;
            var quote = miles * rate;

            if (quote) {
                document.getElementById("contact").style.visibility = "visible";
                document.getElementById("content").style.height = "880px";

                document.getElementById("quotePrice").innerHTML = "The cost is \$" + 
                Intl.NumberFormat().format(quote) + " to travel " + 
                Intl.NumberFormat().format(miles) + " miles from " +
                startCityName + " to " + endCityName + ".";
            } else {
               document.getElementById("contact").style.visibility = "hidden";
                document.getElementById("content").style.height = "480px";
                
                document.getElementById("quotePrice").innerHTML = "Choose two different cities, please.";
            }           
        }
    </script>
    <script src="/src/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>

    </script>
    <body>
            {{> header }}
            <br>
            <div class="jumbotron mx-auto" style="width: 768px; height: 480px;">
            <div class="container">
                <form>
                    <div class="form-group-row ml-5">
                        <label>Starting City:</label>
                        <div class="form-group">
                            <select class="form-control" id="startCity" onchange="getStartCity(this)">
                              <option value="0">Flagstaff, AZ</option>
                              <option value="1">Phoenix, AZ</option>
                              <option value="2">San Diego, CA</option>
                              <option value="3">Denver, CO</option>
                              <option value="4">Kansas City, KA</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group-row ml-5">
                        <label class="mt-3">Destination City:</label>
                        <div class="form-group">
                            <select class="form-control" id="endCity" onchange="getEndCity(this)">
                              <option value="10">Flagstaff, AZ</option>
                              <option value="20">Phoenix, AZ</option>
                              <option value="30">San Diego, CA</option>
                              <option value="40">Denver, CO</option>
                              <option value="50">Kansas City, KA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-row ml-5">
                        <button class="btn btn-primary mt-3" type="button" id="submitButton" onclick="getDistance()">Get Quote</button>
                    </div>
                    <div class="form-group-row ml-5">
                        <label class="mt-5" id="quotePrice"></label>
                    </div>
                </form>
                <form id="contact" style="visibility: hidden">
                    <div class="form-group-row ml-5">
                        <label>First Name:</label>
                        <input type="firstname" class="form-control col-sm-12" id="firstName" placeholder="First name">
                    </div>
                    <div class="form-group-row ml-5">
                        <label class="mt-1">Last Name:</label>
                        <input type="firstname" class="form-control col-sm-12" id="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group-row ml-5">
                        <label class="mt-1">E-Mail:</label>
                        <input type="firstname" class="form-control col-sm-12" id="email" placeholder="you@example.com">
                    </div>
                    <div class="form-group-row ml-5">
                        <label class="mt-1">Comment</label>
                        <textarea type="firstname" class="form-control col-sm-12" id="comment" placeholder="Write comments here..."></textarea>
                    </div>
                    <button class="btn btn-primary ml-5 mt-3" href="#" onclick="">Submit</button>
                </form>
            </div>
        </div>

            {{> footer }}
    </body>
</html>