<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script src="js/vendor/jquery-3.1.0.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/aws-cognito-sdk.min.js"></script>
        <script src="js/vendor/amazon-cognito-identity.min.js"></script>
        <script src="js/config.js"></script>
        <script src="js/cognito-auth.js"></script>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/message.css"> -->
    </head>
    <body>
        <form>
          <h1>Please sign in</h1>
    
          <input type="text" id="inputUsername"  placeholder="Email address" name="username" required autofocus>
          <input type="password" id="inputPassword"  placeholder="Password" name="password" required>    
          <button type="button" onclick="signIn()">Sign in</button>
    
        </form>
        <script src="/src/app.js"></script>
        <script src="/public/js/vendor/bootstrap.min.js"></script>
    </body>
    <script>
        function signIn() {
            const authenticationData = {
                Username : document.getElementById("inputUsername").value,
                Password : document.getElementById("inputPassword").value,
        }
        const authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(authenticationData)
        const poolData = {
            UserPoolId : _config.cognito.userPoolId, // Your user pool id here
            ClientId : _config.cognito.userPoolClientId, // Your client id here
        }
        const userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
        const userData = {
            Username : document.getElementById("inputUsername").value,
            Pool : userPool,
        }
        const cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData)
        cognitoUser.authenticateUser(authenticationDetails, {
            onSuccess: function (result) {
                const accessToken = result.getAccessToken().getJwtToken()
                window.location.href = 'profile.html'
            },
            onFailure: function(err) {
                alert(err.message || JSON.stringify(err))
            },
            newPasswordRequired: function(userAttributes, requiredAttributes) {
                delete userAttributes.email_verified
                let newPassword = prompt('A new password is required!')
                cognitoUser.completeNewPasswordChallenge(newPassword, userAttributes, this)
            }
        })
    }
    </script>
    
</html>
