<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="/js/vendor/aws-cognito-sdk.min.js"></script>
        <script src="/js/vendor/amazon-cognito-identity.min.js"></script>
        <script src="/js/config.js"></script>
        <script src="/js/cognito-auth.js"></script>
        <style>
            th, td, p, input {
                font:14px Verdana;
            }
            table, th, td 
            {
                border: solid 1px #DDD;
                border-collapse: collapse;
                padding: 2px 3px;
                text-align: center;
            }
            th {
                font-weight:bold;
            }
    </style>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        {{> header }}
        <form id="search">
            <label>Search for a truck by make or year.</label>
            <input id="searchInput" placeholder="e.g. Volvo">
            <button>Search</button>
        </form>
        <div id="trucks">
        </div>
        <form id="add" style="background-color: lightgray; margin: 50px 10px; padding: 5px;">
            <h4>Add a truck to our inventory:</h4>
            <label for="truckYearInput">Truck Year</label>
            <input id="truckYearInput" required name="truckYearInput">
            <label for="truckMakeInput">Truck Make</label>
            <input id="truckMakeInput" required name="truckMakeInput">
            <label for="truckModelInput">Truck Model</label>
            <input id="truckModelInput" required name="truckModelInput">
            <label for="truckPlateInput">Truck License Plate</label>
            <input id="truckPlateInput" required name="truckPlateInput">
            <button>Add a Truck</button>
        </form>
        <form id="delete" style="background-color: lightgray; margin: 50px 10px; padding: 5px;">
            <h4>Delete a truck from our inventory:</h4>
            <label for="truckIDInput">Truck ID</label>
            <input id="truckIDInput" required name="truckIDInput">
            <button>Delete Truck</button>
        </form>
        {{> footer }}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            const $search = document.getElementById('search')
            const $searchInput = document.getElementById('searchInput')
            const $trucks = document.getElementById('trucks')
            const $add = document.getElementById('add')
            const $delete = document.getElementById('delete')
            $search.addEventListener('submit', (e) => {
                e.preventDefault()
                $trucks.removeChild($trucks.firstChild)
                const requested = $searchInput.value
                fetch('/api/trucks?search=' + requested).then((response) => {
                    response.json().then((data) => {
                        if (data.error) {
                            $trucks.appendChild(createMessage('No results, please try a different search term.'))
                        } else {
                            $trucks.appendChild(createTable(data))
                        }
                    })
                })
            })
            $add.addEventListener('submit', (e) => {
                e.preventDefault()
                $trucks.removeChild($trucks.firstChild)
                const truckData = {
                    truck_year: document.getElementById('truckYearInput').value,
                    truck_make: document.getElementById('truckMakeInput').value,
                    truck_model: document.getElementById('truckModelInput').value,
                    license_plate: document.getElementById('truckPlateInput').value
                }
                fetch('/api/trucks', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(truckData)
                }).then((response) => {
                    if (response.error){
                        $trucks.appendChild(createMessage('Failed to add a truck. Try again.'))
                    } else {
                        $trucks.appendChild(createMessage('Success! Use a search to confirm.'))
                    }
                })
            })
            $delete.addEventListener('submit', (e) => {
                e.preventDefault()
                $trucks.removeChild($trucks.firstChild)
                const id = document.getElementById('truckIDInput').value
                fetch(`/api/trucks/${id}`, {
                    method: 'DELETE'
                }).then((response) => {
                    if (response.error){
                        $trucks.appendChild(createMessage('Failed to delete a truck. Try again.'))
                    } else {
                        $trucks.appendChild(createMessage('Success! Use a search to confirm.'))
                    }
                })
            })
            const createTable = (data) => {
                let col = []
                for (let i = 0; i < data.length; i++) {
                    for (let key in data[i]) {
                        if (col.indexOf(key) === -1) {
                            col.push(key)
                        }
                    }
                }
                const table = document.createElement('table')
                let tr = table.insertRow(-1)                 // TABLE ROW.
                for (let i = 0; i < col.length; i++) {
                    let th = document.createElement("th")     // TABLE HEADER.
                    th.innerHTML = col[i]
                    tr.appendChild(th)
                }
                for (let i = 0; i < data.length; i++) {
                    tr = table.insertRow(-1)
                    for (let j = 0; j < col.length; j++) {
                        let tabCell = tr.insertCell(-1)
                        tabCell.innerHTML = data[i][col[j]]
                    }
                }
                return table
            }
            const createMessage = (message) => {
                const el = document.createElement('p')
                el.innerHTML = message
                return el
            } 
        </script>
    </body>
</html>
