<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="/js/vendor/jquery-3.1.0.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/aws-cognito-sdk.min.js"></script>
        <script src="/js/vendor/amazon-cognito-identity.min.js"></script>
        <script src="/js/config.js"></script>
        <script src="/js/cognito-auth.js"></script>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
         {{> header }}
            <br><br>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <p></p>
            </div>
            <form class="jumbotron mx-auto" style="width: 480px; background-color: whitesmoke;">
                <h1 class="h1 text-center">Log In</h1>
                <div class="form-row py-2 ml-1">
                    <div class="col-4">
                        <label for="exampleInputEmail1">Email address</label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="inputUsername" name="username"aria-describedby="emailHelp" placeholder="Enter email" required>    
                    </div>
                </div>
                <div class="form-row py-2 ml-1">
                    <div class="col-4">
                        <label for="exampleInputPassword1">Password</label>
                    </div>
                    <div class="col-8">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
                    </div>
                </div>
                <div class="form-group float-right">
                    <div class="mr-1">
                        <button type="button" class="btn btn-primary" onclick="signIn()">Log In</button>
                    </div>                
                </div>
                <div class="form-group">
                    <small class="form-text text-muted"><a href="">Recover password</a></label>
                    <label>|</label>
                    <label><a href="">Register</a></small>
                </div>
            </form>
            {{> footer }}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {{> footer }}
    </body>
    <script>
        function signIn() {
            const authenticationData = {
                Username : document.getElementById("inputUsername").value,
                Password : document.getElementById("inputPassword").value,
        }
        const authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(authenticationData)
        const poolData = {
            UserPoolId : _config.cognito.userPoolId, // Your user pool id here
            ClientId : _config.cognito.userPoolClientId, // Your client id here
        }
        const userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
        const userData = {
            Username : document.getElementById("inputUsername").value,
            Pool : userPool,
        }
        const cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData)
        cognitoUser.authenticateUser(authenticationDetails, {
            onSuccess: function (result) {
                const accessToken = result.getAccessToken().getJwtToken()
                console.log(accessToken)
                fetch(`/api/users/${userData.Username}`).then((response) => {
                    response.json().then((data) => {
                        window.location.href = `/users/${data[0].employee_id}`
                    })
                })    
            },
            onFailure: function(err) {
                alert(err.message || JSON.stringify(err))
            },
            newPasswordRequired: function(userAttributes, requiredAttributes) {
                delete userAttributes.email_verified
                let newPassword = prompt('A new password is required!')
                cognitoUser.completeNewPasswordChallenge(newPassword, userAttributes, this)
            }
        })
    }
    </script>
    
</html>
