<footer>
    <div class="row mx-auto fixed-bottom" style="width: 768px;">
        <div class= "col-6 text-center">Created by Logistics Unlimited</div>
        <div class= "col-6 text-center">Copyright &copy; 2019</div>
    </div>
    
</footer>