<footer>
    <div class="container fixed-bottom">
        <div class="row mx-auto" style="width: 768px;">
            <div class="col-4 text-center"><a href="/index">HOME</a></div>
            <div class="col-4 text-center"><a href="#top">Back to top</a></div>
            <div class="col-4 text-center"><a href="/signin"/>LOGIN</a></div>
        </div>
        <div class="row mx-auto" style="width: 768px;">
            <div class= "col text-center">Logistics Unlimited &nbsp;|&nbsp; Copyright &copy; 2019</div>
        </div>
    </div>
    
    
</footer>